

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}


.profile-card {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}


.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.volunteer-hours {
    margin-top: 10px;
    font-size: 16px;
    color: #4A90E2;
    font-weight: 600;
    text-align: center;
}


.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-name {
    font-size: clamp(30px, 5vw, 36px);
    color: #333;
    margin: 0;
    font-weight: 700;
}

.contact-info p {
    margin: 8px 0;
    font-size: 18px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-bio {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}



.bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}


.info-card {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    text-align: center;
}


.info-card h2 {
    font-size: 20px;
    color: #4A90E2;
    margin-bottom: 10px;
    font-weight: 600;
}


.info-card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.info-card li {
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .bottom-row {
        grid-template-columns: 1fr;
    }
}

.edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #4A90E2;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.edit-button:hover {
    color: #357ABD;
}

.edit-button-inline {
    background: transparent;
    border: none;
    color: #4A90E2;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    transition: color 0.3s;
}

.edit-button-inline:hover {
    color: #357ABD;
}


.icon {
    color: #4A90E2; 
    margin-right: 8px;
    font-size: 25px; 
    vertical-align: middle;
}

.tile-icon {
    color: #FFA500; 
    margin-right: 6px;
    font-size: 50px; 
    vertical-align: middle;
}


.edit-button, .save-button, .cancel-button {
    background: transparent;
    border: none;
    color: #4A90E2;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    transition: color 0.3s;
}


