
.event-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  
  padding: 30px 30px 30px 15%;
}

.event-header {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
}

.event-logo {
  flex: 0 0 150px;
}

.round-logo {
  border-radius: 50%; 
  object-fit: cover; 
}

.event-title-info {
  flex: 1;
  text-align: left; 
}

.event-title {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  color: #5783c4; 
  white-space: nowrap;
}

.organization-name {
  margin: 10px 0;
  font-size: 30px;
  color: #666;
}

.button-group {
  display: flex;
  gap: 50px; 
  margin-top: 10px; 
}

.apply-now-button {
  background-color:  #FFA500;
}

.contact-button, .apply-now-button {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.contact-button {
  background-color: #fff;
  border: 2px solid #FFA500; 
  color: #FFA500; 
}

.contact-button:hover, .apply-now-button:hover {
  background-color: #0056b3;
}

.event-info {
  display: flex;
  gap: 50px; 
  align-items: flex-start;
  padding: 20px;
  margin-left:2%;
}

.event-details {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 0;
}

.event-detail,
.requirement-detail,
.activity-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 22px; 
  color: #666;
  gap: 30px;
  margin-left: 15px;
}

.event-description, .event-requirements {
  max-width: 600px;
  margin: 20px 0;
}

.event-description p, .event-requirements p {
  margin-bottom: 15px; 
  font-size: 20px;
  color: #333; 
}

.overview-heading,
.requirements-heading,
.description-heading {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #5783c4;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left; 
}

.header-icon {
  margin-right: 8px;
  color: #FFA500;
  font-size: 50px;
}

.event-details {
  max-width: 300px; 
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow-wrap: break-word; 
}

.event-requirements ul {
  padding-left: 20px; 
  margin: 0;
  list-style-position: inside; 
}

.event-requirements li {
  line-height: 1.5;
  max-width: 100%; 
  word-wrap: break-word;
}
