.event-details-page {
  background-image: url('/images/event5.jpg'); 
  /* background-image: url('/images/new_event.jpg');  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.event-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 20px 50px;
  width: auto;
  overflow: hidden; 
}


.event-header {
  display: flex;
  align-items: center;
  gap: 115px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  text-align: left;
  max-width: max-content;
}

.event-logo {
  flex: 0 0 150px;
}

.round-logo {
  border-radius: 50%; 
  object-fit: cover; 
}

.event-title-info {
  flex: 1;
  text-align: left; 
  
  
}

.event-title {
  background-color: #fff;
  font-size: clamp(20px, 4vw, 50px);
  font-weight: bold;
  color: #4A90E2;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  margin: 0;
  padding: 16px;
  max-width: 100%; 
  box-sizing: border-box;

  overflow-wrap: anywhere;

  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .event-title:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
} */


.organization-name {
  margin: 10px 0;
  font-size: 30px;
  color: #666;
}



.button-group {
  display: flex;
  gap: 50px; 
  margin-top: 10px; 
  align-items: center;
}

.apply-now-button {
  background-color:  #FFA500;
}



.contact-button, .apply-now-button, .event-edit-button, .cancel-application-button, .delete-event-button{
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-button{
  border: 2px solid #FFA500;
  background-color: #fff;
  color: #FFA500;
}

.contact-button:hover {
  background-color: #FFA500;
  color: #fff; 
  transform: scale(1.05); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
}

.apply-now-button:hover {
  background-color: #FF8C00; 
  color: #fff; 
  transform: scale(1.05); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
}

.event-edit-button{

  background-color: #4A90E2;
  
}


.event-edit-button:hover {
  background-color: #5783c4;
  transform: scale(1.05); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
}
.apply-now-button svg, 
.contact-button svg, 
.event-edit-button svg,
.delete-event-button svg {
  margin-right: 8px;
  vertical-align: middle; 
}


.event-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px; 
  margin-left: 95px;
  
}
/* .event-details:hover{
  transform: scale(1.05); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
} */

.event-details {
  width: 350px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: none; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.event-detail,
.requirement-detail,
.activity-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 22px; 
  color: #666;
  gap: 30px;
  margin-left: 15px;
}


.event-description p, .event-requirements p {
  margin-bottom: 15px; 
  font-size: 20px;
  color: #333; 
}

.overview-heading,
.requirements-heading,
.description-heading {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #4A90E2;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left; 
}

.header-icon {
  margin-right: 8px;
  color: #FFA500;
  font-size: 50px;
}

.event-details {
  max-width: 300px; 
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow-wrap: break-word; 
}


.event-details input[type="text"],
.event-details input[type="date"],
.event-details input[type="time"],
.event-details textarea {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.event-details input[type="text"]:focus,
.event-details input[type="date"]:focus,
.event-details input[type="time"]:focus,
.event-details textarea:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 6px rgba(74, 144, 226, 0.3);
    outline: none;
}

.event-details .placeholder-text {
    color: #999999;
    font-style: italic;
}

.event-requirements textarea {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}

.event-requirements, .event-description {
 
  margin: 20px 0;
}


.event-requirements p, .event-description p {
  font-size: 20px;
  color: #666666;
  line-height: 1.5;
  white-space: pre-line; 
  
  
}


.event-requirements ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
  list-style-position: inside;
}

.event-requirements li {
  font-size: 18px;
  color: #666666;
  line-height: 1;
  margin-bottom: 8px;
}


.event-requirements textarea, .event-description textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  resize: vertical;
  min-height: 100px;
  max-height: 250px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.event-requirements textarea:focus, .event-description textarea:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.3);
  outline: none;
}


.event-title-input {
  width: 100%;
  max-width: 600px;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.event-title-input:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.3);
  outline: none;
}

.event-description {
  
    flex: 2; 
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left:60px;


}

.description-heading {
  display: flex;
  align-items: center;
  font-size: 30px;
  
  font-weight: bold;
  margin-bottom: 15px;
}

.header-icon {
  margin-right: 8px;
  color: #FFA500;
  font-size: 28px;
}

.description-content {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  white-space: pre-line;
  margin: 0;
}

.description-textarea {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  resize: vertical;
  min-height: 200px;
  max-height: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}


.description-textarea:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.3);
  outline: none;
}



.event-logo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid #fff; 
    background-color:#fff;
    
}


.event-category {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold; 
  color: #666;
  background-color: #fff; 
  padding: 8px 12px;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: fit-content; 
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

/* .event-category:hover{
  transform: scale(1.05); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
} */

.event-category svg {
  margin-right: 8px;
  font-size: 30px;
  color:#FFA500;
}

.organization-info {
  display: flex;
  align-items: center;
  margin-top: 20px; 
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding:16px;
  background-color: #fff;
  max-width: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.organization-info:hover{
  transform: scale(1.05); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
  color:#4A90E2;
}


.organization-icon {
  margin-right: 8px;
  font-size: 35px; 
  color: #FFA500; 
}

.event-title-icon {
  margin-right: 4px;
  font-size: 50px; 
  color: #FFA500; 
  vertical-align: middle;
}


.address-location-container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}


.address-input,
.location-input {
  width: 100%; 
}


.select-field {
  padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    

}




.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.modal {
  background: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px; 
  color: #333;
  cursor: pointer;
}


.modal-header {
  font-size: 20px; 
  margin-bottom: 15px;
  color: #444;
  font-weight: bold;
}

.modal-content {
  font-size: 16px; 
  color: #666;
  margin-bottom: 20px;
}


.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.confirm-button,
.cancel-button-app, .delete-event-button {
  background: #FFA500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px; 
  cursor: pointer;
  transition: background 0.3s ease;
  width: 120px; 
  text-align: center;
}



.cancel-button-app {
  background: red;
}

.confirm-button:hover {
  background-color: #FF8C00; 
  color: #fff; 

}

.cancel-button-app:hover {
  background: #e53935;
}



.cancel-application-button, .delete-event-button {
  background-color: #ff6b6b; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  
  
}

.cancel-application-button:hover, .delete-event-button:hover {
  background-color: #ff4c4c;
  transform: scale(1.05); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.success-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color:#666666;
  background-color: white; 
  border: 3px solid #4A90E2; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.success-message button {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #FFA500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.success-message button:hover {
  background-color: #FF8C00;
}

.delete-event-button{
  width: 200px;
}