/* Global Styles */
* {
  font-family: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.website-name { 
  font-size: 30px; 
  color:#4A90E2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.website-name:hover{
  transform: scale(1.03);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-button, .nav-button-sign-out {
  background-color: #ffffff; 
  color: #4A90E2; 
  border: 2px solid #4A90E2; 
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  
  font-size: 16px; 
  transition: background-color 0.3s, color 0.3s; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav-button-sign-out {
  color: red;
  border-color: red;
}

.nav-button:hover {
  background-color: #4A90E2; 
  color: #ffffff; 
  transform: scale(1.03);
}

.nav-button-sign-out:hover {
  background-color: red; 
  color: #ffffff; 
  transform: scale(1.03);
}

.nav-button-link {
  text-decoration: none;
  color: inherit;
}


/* Footer */
footer {
  background-color: #fff;
  color: #5783c4;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}


/* Loader */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  height: 3rem;
  width: 3rem;
  border: 4px solid transparent;
  border-top-color: gray;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Pop-up overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: rgba(0, 0, 0, 0.5);
  
  z-index: 1000;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  max-height: 80vh;
  overflow-y: auto;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: #ffffff; 
  color: #5783c4; 
  border: 2px solid #5783c4; 
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;

  cursor: pointer;
}


/* Filter styling */
.filter-dropdown {
  border: 1px solid #ccc;
  border-radius: 8px; 
  font-size: 16px;
  background-color: #ffffff; 
  color: #666666; 
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filter-dropdown:focus, 
.filter-dropdown:hover {
  border-color: #007BFF;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4); 
  outline: none; 
  background-color: #f9f9f9;
}

.filter-dropdown option {
  color: #666666; 
  background-color: #ffffff; 
}
